.p-font {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 2px;
}


.p-font-1 {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 1px;
  padding-left: 47px;
  padding-top: 20px;
  font-weight: bold;
}

.p-font-2 {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  padding-left: 47px;
  font-weight: bold;
}


.p-font-3 {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 2px;
  margin-left: 45px;
  padding-top: 10px;
}

.proj-font {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 2px;
  font-weight: bold;
}


.contact-header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #dfdfdf;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;

}


.aboutme-header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #dfdfdf;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;


}
