.p-font {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 2px;
}

.contact-header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #dfdfdf;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;

}


.aboutme-header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #dfdfdf;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;


}
