.p-font {
  font-size: 13px;
  font-family: sans-serif;
  margin-bottom: 2px;
}

.contact-header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: ghostwhite;
}


.aboutme-header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: ghostwhite;

}
