.cv-custom-img {
  border-style: solid;
  border-color: black;
  height: 20rem;
  width: 20rem;
  margin-left: 5rem;
}


.cv-custom-img2 {
  border-style: solid;
  border-color: black;
  height: 6rem;
  width: 20rem;
  margin-left: 5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
