.img-circle {
  // border-radius: 10px;
}

.vl {
  border-left: 2px solid darkgrey;
  // height: 29.7cm;
}

.cv-i{
  float: right;
  padding-right: 10px;
}

/*img {
  border-radius: 50%;
}*/


.cv-custom-profile {
  margin-top: 25px;
}


.cv-modern-heading{
  font-size: 1rem;
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  font-weight: 600;
}

.cv-modern-space {
  margin-top: 82px;
}

.cv-modern-img {
  margin-left: 2rem;
}

.cv-modern-title {
  margin-top: 4rem;
}

.cv-mod-title {
  color: deepskyblue;
  font-weight: bold;
}

.cv-mod-jobtitle {
  color: black;
  font-size: small;
  font-weight: bold;
}

.cv-mod-pos-title {
  color: deepskyblue;
  font-weight: bold;
  margin-bottom: 0;
}

.cv-mod-custom-p {
  margin-top: 0;
  margin-bottom: 0;
}

.cv-mod-custom-company-title {
  font-weight: bold;
  font-size: small;;
}
